.text-shadow-sm {
  text-shadow: 0 0rem 0.5rem rgba(0, 0, 0, 0.5) !important;
}
.text-shadow {
  text-shadow: 0 0.3rem 0.8rem rgba(0, 0, 0, 0.5) !important;
}
.text-shadow-lg {
  text-shadow: 0 0.3rem 2rem rgba(0, 0, 0, 0.5) !important;
}
